@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

main{
    /* background: url("../img/burgers.png"); */
    /* background: url("../img/family.png"); */
    background: url("../img/plato.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caja{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 40px 20px 30px 20px;
    height: 400px;
    width: 350px;
    background-color: rgba(255, 220, 220, 0.4);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}
.caja2{
    background-color: rgba(255, 220, 220, 0.4);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}
.contenedor-ingreso{
    position: absolute;
    width: 85%;
    left: 27px;
    transition: .5s ease-in-out; 
}
.contenedor-registro{
    position: absolute;
    width: 85%;
    height: 1000px;
    right: -350px;
    transition: .5s ease-in-out; 
}
.caja-titulo{
    text-align: center;
    /*margin: 30px;*/
}
.caja-titulo h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px

}
/* .icon img{
    width: 60px;
    margin-bottom: 10px;
}
.icon {
    display:flex;
    justify-content:center;
}  */
.grupo-inputs{
    width: 100%;
    
}
.campo-input{
    margin: 12px 0;
    position: relative;
}
.caja-input{
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: blur(2px);
    outline: none;
    
}
.caja-input1{
    width: 49%;
    height: 40px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: blur(2px);
    outline: none;
    
}
.campo-input label {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
}
.caja-input:focus~ label, .caja-input:valid~ label{
    top: 2px;
    font-size: 10px;
    color: grey;
    font-weight: 500;
}

.input-submit{
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #cccccd;
    color: black;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.145);
    cursor: pointer;
    transition: .4s;
}
.input-submit:hover{
    background: rgb(90, 87, 87);
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.32);
    color:#fff;
}

.cambio{
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 25px;
    width: 85%;
    height: 40px;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.cambio a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    width: 50%;
    border-radius: 10px;
    z-index: 10;
}
#btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 145px;
    height: 50px;
    background: #cccccd;
    border-radius: 10px;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
}

@media screen and (max-width: 850px){
    .caja{
        padding: 20px 20px 30px 20px;
        height: 590px;
    }
}
.a{
    text-decoration: none;
    font-size: 12px;
    line-height: 10px;
    color: darkgray;
}
.enlace{
    text-decoration: none;
    font-size: 14px;
    color: #040404;
    
}