*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "lato", sans-serif;
}

body{
    margin:0px;
    padding:0px;
    width:100%;
    /* background: rgb(132,132,132); */
    /* background: linear-gradient(56deg, rgba(132,132,132,1) 35%, rgba(212,212,212,1) 100%); */
    background: #E6E4E5;
}

h1{
    text-align: center;
    color: #000;
    
    /*text-shadow: 0.1em 0.1em 0.2em #3C424F;*/
    margin: 40px auto;
    letter-spacing: 0em;
}

h2{
    text-align: center;
    /*color: #fff;
    font-size: 23px;
    text-shadow: 0.1em 0.2em 0.2em black;*/
    margin-top: 20px;
    letter-spacing: .1em;
}

.container__card {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#adms {
    margin: 20px 20px 50px;
    perspective: 1000px;
}


.card__father{
    margin: 20px 20px 50px;
    perspective: 1000px;
}

.card__father:hover .card {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.card {
    width: 250px;
    height: 350px;
    position: relative; 
    transform-style: preserve-3d;
    transition: all 600ms; 
    border-radius: 20px;
}

.card__front {
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.card__front, .card__back {
    width: 100%;
    height:100%;
    position: absolute;
    top:0; 
    left:0; 
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__back {
    transform: rotateY(180deg);
    background: white;
}

.button{
    padding: 10px 40px;
    font-size: 16px;
    cursor:pointer;
    border: none;
    /* color:white; */
    background-color: #212529;
    border-radius:10px;
    text-decoration:none;
    letter-spacing:1.5px;
    box-sizing:border-box;
    position:absolute;
    top: 75%;
    left: 20%;
}

.button:hover{
    transform:scale(1.1);
}

.body__card_front {
    width: 100%;
    height: 100%;
    font-size: 10px;
    text-align: center; 
    padding: 40px;
    display: flex; 
    justify-content:center; 
    align-items: center; 
    color:#fff;
    transform: translateZ(60px);
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.body__card_back {
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card_back p {
    margin-top: 7px;
    letter-spacing: 1px;
    line-height: 21px;
    font-size: 16px;   
}

.body__card_back .price {
    font-size:25px ;
    margin:30px auto;
    font-weight: bold;
    color: #F12C3E;
}


.body__card_back .button{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    border: 2px solid #212529;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.body__card_back .button:hover{
    color: white;
    background-color: #212529;
}


/*Tabla crud*/
body {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}
.table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}