*{
    padding:0;
    
    box-sizing:border-box;
    
}
body {
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
nav div .navbar-nav a{
    color: rgb(138, 135, 135);
}
div .position-absolute h2{
    color: rgb(255, 255, 255);
}
.burguers1{
    text-align:center;
    justify-content: center;
    color: rgb(0, 0, 0)
}
.btn-color{
    background-color: rgb(106, 165, 18);
}

.filtro {
    filter:brightness(50%);
    -webkit-filter:brightness(50%);
}

.card__align--center{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form__input-error{
    font-size: 12px;
    margin-bottom:0;
    display:none;
}
.form__input-error-active{
    display:block;
}
.form__valid-state{
    position:sticky;
    right:10px;
    bottom:15px;
    z-index: 100;
    font-size: 16px;
    opacity:0;
}
.carousel-caption{
    text-align: left;
    margin-top: 0;
    margin-bottom: 200px;
    font-size: 20px;
}
footer{
margin-top: 0;
background-color: black;
}
.link {
    margin-top: 0;
    padding-top: 0;
    text-decoration:none ; 
    color: rgb(255, 255, 255);
    ;
}
a:hover{
    color: rgb(10, 10, 10);
    font-size: small;
}
body #bg {
    background-color:#0b0b0bbc;
}
.nosotros{
    color:#252525

}
#team {
    background: #ffffff;
    background: -webkit-linear-gradient(to top, #707070, #000000);
    background: linear-gradient(to top, #444248, #000000);
    min-height: 100vh;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.master {
    background: #000;
}

.team {
    display: flex;
    align-items: center;
    justify-content: center;
}