/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap'); */


*{
    /* margin: 0; */
    padding: 0;
    /* box-sizing:border-box; */
    font-family: "lato", sans-serif;
}

 

body{
    margin:0px;
    padding:0px;
    /* background-image:url(/img/Diseño\ sin\ título\ \(17\).png); */
    background-color:#F2F2F2bc;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: 0% 95%;
    width:100%;
}

nav{    
    width: 100%;
    height: 80px;
    background-color: #000;
}

ul {
    list-style-type: none;
}

ul img.icon {
    margin-top:8px;
    cursor: pointer;
}
ul li {
    float: right;
    width:140px;
    font-size: 15px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.6s all;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
    transition: 0.6s all;
}


h1{
    text-align: center;
    /* color: #3C424F; */
    color: #000;
    text-shadow: 0.1em 0.1em 0.2em #3C424F;
    margin-top: 50px;
    letter-spacing: .3em;
}

h2{
    text-align: center;
    color: #fff;
    font-size: 23px;
    text-shadow: 0.1em 0.2em 0.2em black;
    margin-top: 50px;
    /* letter-spacing: .5em; */
}

.container__card {
    max-width: 1200px;
    margin: auto;
    margin-top:50px;
    perspective: 1000px;/* para que se vea el giro de la card en 3D */
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*para que sea responsive*/
}

.card__father {
    margin:20px 20px 50px;
    perspective: 1000px;
    /* -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, rgba(0,0,0,0.4));  */
}

.card__father:hover .card {
    transform: rotateY(180deg)
}

.card {
    width: 250px;
    height: 300px;
    position: relative; /* tiene que tener posición relativa para que la absoluta funcione*/
    transform-style: preserve-3d;
    transition: all 600ms; /*para que se vea el giro d la card en 3D*/
}

.card__front {
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.card__front, .card__back {
    width: 100%;
    height:100%;
    position: absolute;
    top:0; /*para que se mantengan pegados a arriba*/
    left:0; /*para que se mantengan pegados a abajo*/
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__back {
    transform: rotateY(180deg);
    background: white;
}

.button{
    padding: 10px 40px;
    /* margin-top:30px; */
    font-size: 16px;
    cursor:pointer;
    border: none;
    color:white;
    border-radius:10px;
    text-decoration:none;
    letter-spacing:1.5px;
    box-sizing:border-box;
}

.body__card_front {
    width: 100%;
    height: 100%;
    font-size: 10px;
    text-align: center;  /* alinea texto en el centro*/
    padding: 40px;
    display: flex; /*alinea texto en el centro*/
    justify-content:center; /*alinea texto en el centro*/
    align-items: center; /*alinea texto en el centro*/
    color:#fff;
    transform: translateZ(60px);
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.body__card_back {
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card_back p {
    margin-top: 7px;
    letter-spacing: 1px;
    line-height: 21px;
    font-size: 16px;
    
}

.body__card_back .button{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #3C424F;
    /* box-shadow: 1px 1px 30px -5 #3C424F; */
    border-radius: 10px;
    transition: box-shadow 600ms;
}


a .button:hover{
    transform:scale(1.1);
    transition: 0.7s ease-in-out;
    box-shadow: 1px 1px 30px 600ms;
    text-decoration: none;
}

.footerContainer {
    /* background-color: #002244; */

    width:100%;
    height: 200px;
    margin-top: 180px;
    line-height: 25px;
    padding-top:5px;
    padding-bottom: 5px;
}

.footerP {
    margin-top: 0px;
    font-weight: 100;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 0.1em 0.1em 0.2em black;
    margin-top: 120px;
    text-align: center;
    font-size: 16px;
}

.btn-wsp{
    position:fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom:30px;
    right: 30px;
    background: #0df053;
    color:#fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover{
    text-decoration: none;
    color:#0df053;
    background: #fff;
}