*{
    padding:0;
    margin:0;
}

/* ========================== */
nav{    
    width: 100%;
    height: 80px;
    background-color: #000;
}

ul {
    list-style-type: none;
}

ul img.icon {
    margin-top:8px;
    cursor: pointer;
}

ul li {
    float: right;
    width:140px;
    font-size: 15px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.6s all;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
    transition: 0.6s all;
}

/* ============================== */


nav div .navbar-nav a{
    color: rgb(138, 135, 135);
}
div .position-absolute h2{
    color: rgb(255, 255, 255);
}
.oradores1 {
    text-align:center;
    justify-content: center;
}
.btn-color{
    background-color: rgb(106, 165, 18);
}

.filtro {
    filter:brightness(50%);
    -webkit-filter:brightness(50%);
}
.carousel-text{
position: absolute;
right:8%;
top: 10vw;

}
.card__align--center{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form__input-error{
    font-size: 12px;
    margin-bottom:0;
    display:none;
}
.form__input-error-active{
    display:block;
}
.form__valid-state{
    position:sticky;
    right:10px;
    bottom:15px;
    z-index: 100;
    font-size: 16 px;
    opacity:0;
} 
.form__sms{
    height: 45px;
    line-height: rgb(238, 70, 70);
    padding: 0 15px;
    border-radius: 3px;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.form__sms-active{
    display: block;
}
.form__sms-ok{
    font-size:15px; 
    color: #119200; 
    text-align: center;
    display: none;
}
.form__sms-ok-active{
    display:block;
}


.form__group-correct .form__valid-state{
    color:rgb(35, 224, 35);
    opacity: 1;
}

.form__group-incorrect .form__valid-state{
    color:red;
    opacity:1;
}



